@{
    ViewData["Title"] = "NoviFuar Yonetim Paneli";
}
<link rel="stylesheet" href="~/css/site.css" />
<body>
    <div style="background-image: url('/images/IT-Line.png'); padding: 1px; width: 1205px; height: 610px; background-repeat: no-repeat;">
        <h1>@ViewData["Title"]</h1>

        <h4>Yonetim Paneline Hos Geldiniz</h4>
        <p>NoviSoft Kurumsal Yazilim Cozumleri</p>
    </div>
</body>