<!--Personal Procedures Page-->
<div class="table-scrollbar">
    <form>
        <div class="form-row">

            <div class="form-group col-md-3">
                <label for="inputEmail4">Kullanici Adi</label>
                <input type="text" class="form-control" placeholder="Kullanici Adi">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Ad</label>
                <input type="text" class="form-control" placeholder="Ad">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Soyad</label>
                <input type="text" class="form-control" placeholder="Soyad">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Sifre</label>
                <input type="text" class="form-control" placeholder="Ab31420.cxQ">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Sifre Tekrari</label>
                <input type="text" class="form-control" placeholder="Ab31420.cxQ">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Telefon Numarasi</label>
                <input type="text" class="form-control" placeholder="(05_ _)_ _ _ _ _ _ _">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>
